/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-success: rgb(34, 211, 93);
    --color-error: rgb(236, 121, 110);
    --teal-color: #24A9A7;
	--purple-color: #9E41CC;
}



/* HEADER */
header {
    display: flex;
    /* justify-content: center;
    align-items: start; */
    background-color: #ffffff;
    background-image: url("../image/metiers.png");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 86vh;
}

/* HAMBURGER MENU */
.navbar {
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    width: 95%;
    position: fixed;
    min-height: 0;
    order: -1;
    z-index: 2;
    padding-right: 10px;
    border-radius: 7px;
    /* background-color: var(--teal-color); */
}

.nav-menu {
    display: none; /* Masquer le menu par défaut */
    position: fixed;
    top: 0px; /* Ajustez la position verticale selon votre mise en page */
    right: 0;
    background-color: var(--teal-color); /* Couleur de fond du menu déroulant */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 30%;
    text-align: center;
}

.nav-menu a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333; /* Couleur des liens du menu */
}

.nav-title {
    padding: 10px;
}

.hamburger {
    display: block;
    padding: 3px;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--teal-color);
}

/* Styles pour afficher le menu lorsqu'il est ouvert */
.nav-menu.active {
    display: block;
    left: 0;
    opacity: 80%;
}

        /* animation : bar rotation = trnasform in cross (X) when we click on */

.hamburger.active .bar:nth-child(2) {
    background-color: transparent;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: white;
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: white;
}

/*  */

#nav-left > a {
    padding: 20px;
    border: 1px solid black;
    border-radius: 6px;
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    transition: background-color 0.3s, color 0.3s;
}

#nav-left > a:hover {
    background-color: black;
    color: white;
}

/* NAV RIGHT */
#nav-right {
    display: flex;
    justify-content: flex-end; /* Aligne les éléments à droite */
    align-items: center;
}


/* MAIN */
#forum {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/* HOME */
.btn-list a {
    width: 160px;
    padding: 10px 0;
    background-color: var(--teal-color);
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

        /* Footer -> registerForm */
footer.d-flex p {
    margin: 0;
}

/* Bootstrap CSS */

body {
    background-color: #fefefe;
    color: var(--teal-color);
}

ul {
    padding: 0;
    list-style: none;
}

.topics-table {
    margin-top: 1rem;
    padding: 8px;
    border: 2px solid var(--teal-color);
    border-radius: 10px;
}

.topics-table a {
    color: var(--purple-color);
}

ul.header-titles, li.topics-body, li.topics-body ul {
    overflow: hidden;
}

li.topics-header, ul[class^='topic-item-'] {
    padding: 8px;
}

ul[class^='topic-item-'] {
    border-top: 1px solid var(--teal-color);
}

.header-titles li, ul[class^='topic-item-'] li {
    width: 20%;
    float: left;
}

.badge {
    font-weight: normal;
}

.icon-return:hover {
    display: inline-block;
}

/****************************** VIEW PROFILE **********************************/

/* body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;    
} */

.main-body {
    padding: 15px;
}

.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}


/****************************** UPDATE VIEW PROFILE **********************************/

/* body {
    background: rgb(99, 39, 120)
} */

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

/* USER ICON */

.user-icon {
    display: inline-block;
    width: 40px; /* Largeur du cercle */
    height: 40px; /* Hauteur du cercle */
    border-radius: 50%; /* Rend le div circulaire */
    background-color: var(--teal-color); /* Couleur du cercle */
    text-align: center;
    line-height: 40px; /* Centre le contenu vertical */
    margin-right: 10px; /* Espacement entre l'icône et le nom */
    position: relative; /* Ajout de position relative */
}

.user-icon .fas.fa-user {
    color: #fff; /* Couleur de l'icône à l'intérieur du cercle */
    font-size: 24px; /* Taille de l'icône */
}

.user-icon:hover::before {
    content: attr(data-username); /* Affiche le nom de l'utilisateur en survol */
    position: absolute;
    top: 40px; /* Ajustez la position verticale pour afficher en dessous de l'icône */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8); /* Couleur de fond du nom */
    color: #fff; /* Couleur du texte du nom */
    padding: 5px 10px; /* Espacement autour du nom */
    border-radius: 5px; /* Bordures arrondies */
    white-space: nowrap; /* Empêche le texte de se retourner */
    opacity: 0; /* Le nom est initialement masqué */
    transition: opacity 0.3s; /* Animation de transition */
}

.user-icon:hover::before {
    opacity: 1; /* Affiche le nom lorsque vous survolez l'icône */
}

    /*  */
.dropdown-menu {
    max-width: 200px !important; /* Limitez la largeur du dropdown-menu selon vos besoins */
    right: 0 !important; /* Positionnez-le à droite */
    left: auto !important; /* Réinitialisez la position gauche */
    background-color: var(--teal-color) !important;
    color: white !important;
}

    /* Arrow dropdown */
.nav-link {
    color: var(--teal-color) !important;
}
