/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-success: rgb(34, 211, 93);
    --color-error: rgb(236, 121, 110);
    --teal-color: #24A9A7;
	--purple-color: #9E41CC;
}



/* HEADER */
header {
    display: flex;
    /* justify-content: center;
    align-items: start; */
    background-color: #ffffff;
    background-image: url("../image/metiers.png");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 86vh;
}

/* HAMBURGER MENU */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    min-height: 0;
    order: -1;
    z-index: 2;
    padding-right: 10px;
    border-radius: 7px;
    /* background-color: var(--teal-color); */
}

.nav-menu {
    display: none; /* Masquer le menu par défaut */
    position: fixed;
    top: 0px; /* Ajustez la position verticale selon votre mise en page */
    right: 0;
    background-color: var(--teal-color); /* Couleur de fond du menu déroulant */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 30%;
    text-align: center;
}

.nav-menu a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* display: block;
    padding: 10px; */
    text-decoration: none;
    color: #333; /* Couleur des liens du menu */
}

.nav-title {
    padding: 10px;
}

.hamburger {
    display: block;
    padding: 3px;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--teal-color);
}

/* Styles pour afficher le menu lorsqu'il est ouvert */
.nav-menu.active {
    display: block;
    left: 0;
    opacity: 80%;
}

        /* animation : bar rotation = trnasform in cross (X) when we click on */

.hamburger.active .bar:nth-child(2) {
    background-color: transparent;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: white;
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: white;
}


/*  */
/* #nav-left {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 20px 10px;
} */

#nav-left > a {
    padding: 20px;
    border: 1px solid black;
    border-radius: 6px;
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    transition: background-color 0.3s, color 0.3s;
}

#nav-left > a:hover {
    background-color: black;
    color: white;
}

/* NAV RIGHT */
#nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

/* MAIN */
#forum {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/* HOME */
.btn-list a {
    width: 160px;
    padding: 10px 0;
    background-color: var(--teal-color);
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Bootstrap CSS */

body {
    background-color: #fefefe;
    color: var(--teal-color);
}

ul {
    padding: 0;
    list-style: none;
}

.topics-table {
    margin-top: 1rem;
    padding: 8px;
    border: 2px solid var(--teal-color);
    border-radius: 10px;
}

.topics-table a {
    color: var(--purple-color);
}

ul.header-titles, li.topics-body, li.topics-body ul {
    overflow: hidden;
}

li.topics-header, ul[class^='topic-item-'] {
    padding: 8px;
}

ul[class^='topic-item-'] {
    border-top: 1px solid var(--teal-color);
}

.header-titles li, ul[class^='topic-item-'] li {
    width: 25%;
    float: left;
}

.badge {
    font-weight: normal;
}

/* BTN RETURN */
/* .return {
    text-decoration: none;
    color: white;
}

.return:hover {
    text-decoration: none;
    color: white;
} */

/* .btn-return {
    display: none;
}

.btn-return:hover {
    display: inline-block;
} */

/* Icon hidden by default */
/* .icon-return {
    display: none;
} */

.icon-return:hover {
    display: inline-block;
}